*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

/* LOGIN */
.colr-bg {
  background-color: #d6d6d6;
}

@media (min-width: 768px) {
  .colr-bg {
    background-image: url(./images/login-right.png);
    background-size: cover;
    background-position: center;
    background-color: transparent; /* Set background-color to transparent to override the previous value */
}
}

.banner-bg
 {
  background-image: url(./images/login-left.png);
  background-size: cover;
  background-position: center;
}

/* REGISTER */
.colr2-bg
 {
  background-image: url(./images/register-right.png);
  background-size: cover;
  background-position: center;
}

.banner2-bg
 {
  background-image: url(./images/register-left.png);
  background-size: cover;
  background-position: center;
}


/* Banner */
.bannerAll-bg
 {
  background-image: url(./images/banner2-bg.png);
  background-size: cover;
  background-position: center;
}

.vh-75 {
  height: 60vh;
}

/* Product Card */
.card-height{
  min-height: 100% !important;
}

.card-border{
  border-color: rgb(218,
    218,
    218) !important;
}

.card-bg {
  background-color: rgb(218, 218, 218) !important;
}
